<form [formGroup]="loginForm" class="container">
  <div class="card mx-auto">
    <div class="card-body p-5 pb-4">
      <label for="nickname">nickname</label>
      <input
        formControlName="nickname"
        id="nickname"
        name="nickname"
        type="text"
        class="form-control"
      />

      <label class="mt-3" for="password">password</label>
      <input
        formControlName="password"
        id="password"
        name="password"
        type="password"
        class="form-control"
      />
      <div class="mt-3">
        <span class="text-danger">{{ error }}</span>
      </div>
      <div class="text-center mt-4">
        <button (click)="login()" type="submit" class="btn btn-primary">
          login
        </button>
        <p>or sign up <a [routerLink]="['/auth', 'register']">here</a></p>
      </div>
    </div>
  </div>
</form>
