<div class="card w-100" style="width: 18rem;">
  <div class="position-relative pattern mb-5">
    <div class="position-absolute text-center start-0 end-0 mt-3">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/52.svg" class="rounded-circle" alt="image">
    </div>
  </div>
  <div class="card-body mt-5">
    <h5 class="text-center card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#">Go somewhere</a>
  </div>
</div>
