<div class="card w-100" style="width: 18rem">
  <div class="position-relative pattern mb-5">
    <div class="position-absolute text-center start-0 end-0 mt-3">
      <img
        [src]="pokemon.sprites.other['official-artwork'].front_default"
        class="rounded-circle"
        alt="image"
      />
    </div>
  </div>
  <div class="card-body pt-2 mt-5">
    <h5 class="text-center card-title">
      {{ pokemon.name | titlecase }}
      <span class="text-muted"> #{{ pokemon.id }}</span>
    </h5>
    <div class="text-center">
      <span
        *ngFor="let slot of pokemon.types"
        class="badge bg-darkgray p-2 me-1"
      >
        {{ slot.type.name | titlecase }}
      </span>
    </div>
  </div>
</div>
