<!-- Modal Button -->
<button
  id="openAlertModalButton"
  type="button"
  class="btn btn-primary"
  data-bs-toggle="modal"
  data-bs-target="#alertModal"
  hidden
>
  Launch demo modal
</button>

<!-- Modal -->
<div
  class="modal fade"
  id="alertModal"
  tabindex="-1"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="alertModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header pb-2">
        <h5 class="modal-title" id="alertModalLabel">Alert</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body pb-4">please log in to see more content</div>
    </div>
  </div>
</div>
